# Dependencies
node_modules/
apps/*/node_modules/

# Builds
dist/
apps/*/dist/

# Vite cache
apps/*/.vite/
.vite/

# Env
*.local
.env
apps/*/.env

# Logs
logs/
*.log
npm-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea/

# Test / coverage
coverage/
